body {
  
  text-align: center;  
  background-color: burlywood  ;

}

h1 {

color: aqua;
text-align: center;

}

img{

width:30% ;

}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}







